<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Voyage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationServlet</display-name>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>controller.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/LocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFormEmailSend</display-name>
    <servlet-name>ContactFormEmailSend</servlet-name>
    <servlet-class>Email.web.ContactFormEmailSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFormEmailSend</servlet-name>
    <url-pattern>/ContactFormEmailSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFormSendEmail</display-name>
    <servlet-name>ContactFormSendEmail</servlet-name>
    <servlet-class>email.ContactFormSendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFormSendEmail</servlet-name>
    <url-pattern>/ContactFormSendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackageRegisterServlet</display-name>
    <servlet-name>PackageRegisterServlet</servlet-name>
    <servlet-class>controller.PackageRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackageRegisterServlet</servlet-name>
    <url-pattern>/PackageRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blogServlet</display-name>
    <servlet-name>blogServlet</servlet-name>
    <servlet-class>controller.blogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogServlet</servlet-name>
    <url-pattern>/blogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogRegisterServlet</display-name>
    <servlet-name>BlogRegisterServlet</servlet-name>
    <servlet-class>controller.BlogRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogRegisterServlet</servlet-name>
    <url-pattern>/BlogRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBlogServlet</display-name>
    <servlet-name>ViewBlogServlet</servlet-name>
    <servlet-class>controller.ViewBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBlogServlet</servlet-name>
    <url-pattern>/ViewBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationServlet1</display-name>
    <servlet-name>LocationServlet1</servlet-name>
    <servlet-class>controller.LocationServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet1</servlet-name>
    <url-pattern>/LocationServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidayTypeServlet</display-name>
    <servlet-name>HolidayTypeServlet</servlet-name>
    <servlet-class>controller.HolidayTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidayTypeServlet</servlet-name>
    <url-pattern>/HolidayTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfoServlet</display-name>
    <servlet-name>EditInfoServlet</servlet-name>
    <servlet-class>controller.EditInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoServlet</servlet-name>
    <url-pattern>/EditInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ratingservlet</display-name>
    <servlet-name>ratingservlet</servlet-name>
    <servlet-class>controller.ratingservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ratingservlet</servlet-name>
    <url-pattern>/ratingservlet</url-pattern>
  </servlet-mapping>
</web-app>